body{
    background-image: url("../images/main_bg.jpg");
    background-size: cover;
}
#MainTitle{
    text-align: center;
    color: white;
}
#MainSubTitle{
    text-align: center;
    color: white;
}